/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root {  /*criando variaveis no css*/
    --tamanho-header: 80px; /*80 px torna fixo o tamanho da header*/
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); /*fazendo contas para o banner n pegar o header e footer, vh acompanha o tamanho da tela*/
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100px;
}

/* HEADER */

.header { /*define o tamanho do header*/
    height: var(--tamanho-header);
    border-bottom: 10px solid #32b9cd;
}

.container { /*define como será os elementos dentro*/
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.header .container { /*quando se encontrarem terá essa estilização*/
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.agora {/* estiliza o inicial no header */
    font-weight: 800; /*grossura da fonte*/
}

.navbar {
    width: 300px;
    display: flex; /*deixa flexivel, possibilita deixar os links lado a lado*/
    align-items: center;
    justify-content: space-between;
    list-style: none; /* tira a bolinha */
    color: #e3b062;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

/* BODY */

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    margin-left: 180px;
    width: 50%;
    padding: 0;
    font-size: 30px;
}

.banner .container span {
    font-weight: 800;
    margin: 0;
}

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .container .boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
    width: 700px;

}

.box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.box .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.box h4 {
    display: flex;
    flex-direction: column;
}

.box img {
    width: 170px;
    margin-left: 5px;
}

.box p {
    text-align: center;
}

/* FOOTER */

.footer {
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container{
    justify-content: center;
    align-items: center;
}

.version {
    font-size: 12px;
}


/* LOGIN */

.login {
    display: flex;
    height: var(--tamanho-login);
    color: white;
    background: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
}

.container .card{
    border-radius: 5px;
    align-items: center;
    background-color: #c8cecf;
    width: 500px;
    height: 250px;
}

.login .card h2 {
    color: #b7629d;
    text-align: center;
}

.formulario {
    text-align: center;
    color: #b7629d;
}

.campo {
    display: flex;
    font-size: 15px ;
    font-weight: 800;
    flex-direction: column;
    justify-content: center;
} 

span {
    text-align: left;
    margin-left: 52px;
    margin-top: 10px;
}

input {
    border-radius: 5px;
    border-color: aqua;
    border-bottom: 2px solid #32b9cd;
    margin-left: 50px;
    margin-right: 50px;
    height: 25px;
    text-align: center;
}

.botao {
    color: #fff;
    border-radius: 5px;
    border-color: #ed2a6e;
    background-color: #ed2a6e;
    margin-top: 15px;
    height: 25px;
    width: 80px;

}

.card-cadastro{
    border-radius: 5px;
    align-items: center;
    background-color: #c8cecf;
    width: 500px;
    height: 450px;
}
.login .card-cadastro h2 {
    color: #b7629d;
    text-align: center;
}